body {
  background: #171D2A;
  font-family: "Poppins", sans-serif;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app .main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.app .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.app .container .main_container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.app .container .side_container {
  -webkit-box-flex: 0.45;
      -ms-flex: 0.45;
          flex: 0.45;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 10px;
}

.navbar {
  height: 100vh;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 5px;
}

.navbar .col {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  border-radius: 8px;
  -webkit-transition: background 0.2s, -webkit-box-shadow 0.2s;
  transition: background 0.2s, -webkit-box-shadow 0.2s;
  transition: background 0.2s, box-shadow 0.2s;
  transition: background 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.navbar .col span {
  color: #96A7AF;
}

.navbar .col:active {
  -webkit-box-shadow: 0 0 0px 3px #23293598;
          box-shadow: 0 0 0px 3px #23293598;
}

.navbar .col.active span {
  color: #fff;
}

.navbar .col:hover {
  background: #232935;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.header .logo {
  margin-right: 20px;
}

.header .search_bar {
  height: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .search_bar .search_input {
  background: #232935;
  border: none;
  width: 400px;
  border-radius: 12px;
  margin: 0px 10px;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  padding: 0px 20px;
  color: #E2E2E2;
}

.header .search_bar .search_input:focus {
  -webkit-box-shadow: 0 0 0px 3px #23293598;
          box-shadow: 0 0 0px 3px #23293598;
}

.header .search_bar .search_btn {
  background: #8401FF;
  color: #FFFFFF;
  border: none;
  padding: 0px 20px;
  border-radius: 12px;
  -webkit-transition: background 0.2s, -webkit-box-shadow 0.2s;
  transition: background 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, background 0.2s;
  transition: box-shadow 0.2s, background 0.2s, -webkit-box-shadow 0.2s;
}

.header .search_bar .search_btn:active {
  background: #6e00d4;
  -webkit-box-shadow: 0 0 0px 3px #6d00d427;
          box-shadow: 0 0 0px 3px #6d00d427;
}

.header .profile_btn {
  background: transparent;
  border: none;
  color: #fff;
  padding: 15px 17px;
  border-radius: 50%;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.header .profile_btn:active {
  background: #373f535e;
}

.slidebar {
  background-size: cover;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #96A7AF;
  width: 100%;
  min-height: 210px;
  overflow: hidden;
}

.slidebar .filter_layer {
  position: absolute;
  background: #2329355b;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 12px;
}

.slidebar .background {
  background: url(https://cdn.myanimelist.net/images/anime/1386/100624.jpg) center center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
  background-size: cover;
  border-radius: 50px;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  opacity: 0.4;
}

.slidebar .cover {
  width: 400px;
  background: url(https://cdn.myanimelist.net/images/anime/1386/100624.jpg) center center;
  background-size: cover;
  border-radius: 12px 0px 0px 12px;
}

.slidebar .info {
  padding: 25px 30px 25px 30px;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  font-size: 13px;
}

.slidebar .info .heading {
  font-size: 24px;
  font-weight: 600;
}

.slidebar .info .description {
  padding: 10px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.slidebar .info .change_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 15px;
  cursor: pointer;
}

.slidebar .info .change_btn span:hover {
  color: #E2E2E2;
}

.btn_cluster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px;
}

.btn_cluster button {
  border-radius: 0px;
}

.btn_cluster button:first-child {
  border-radius: 8px 0px 0px 8px;
}

.btn_cluster button:last-child {
  border-radius: 0px 8px 8px 0px;
}

.btn {
  background: #232935;
  color: #E2E2E2;
  border: none;
  border-radius: 8px;
  -webkit-transition: background 0.2s, -webkit-box-shadow 0.2s;
  transition: background 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, background 0.2s;
  transition: box-shadow 0.2s, background 0.2s, -webkit-box-shadow 0.2s;
  padding: 10px 20px;
  outline: none;
}

.btn:hover {
  background: #2329355b;
  color: #E2E2E2;
}

.btn:active {
  background: #6e00d4;
  -webkit-box-shadow: 0 0 0px 3px #6d00d427;
          box-shadow: 0 0 0px 3px #6d00d427;
}

.btn:focus {
  color: #E2E2E2;
}

.btn:visited {
  color: #E2E2E2;
}

.btn.active {
  background: #8401FF;
}

.btn.active:active {
  background: #6e00d4;
  -webkit-box-shadow: 0 0 0px 3px #6d00d427;
          box-shadow: 0 0 0px 3px #6d00d427;
}

.btn.active:hover {
  color: #E2E2E2;
}

.btn.active:focus {
  color: #E2E2E2;
}

.btn.active:visited {
  color: #E2E2E2;
}

.anime_card_gallary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-columns: 1fr;
}

.anime_card_gallary .anime_card {
  width: 100%;
  background: #232935;
  position: relative;
  border-radius: 8px;
  -webkit-transition: -webkit-box-shadow 0.2s, -webkit-filter 0.2s;
  transition: -webkit-box-shadow 0.2s, -webkit-filter 0.2s;
  transition: box-shadow 0.2s, filter 0.2s;
  transition: box-shadow 0.2s, filter 0.2s, -webkit-box-shadow 0.2s, -webkit-filter 0.2s;
}

.anime_card_gallary .anime_card:hover {
  -webkit-box-shadow: 0 0 0px 3px #23293598;
          box-shadow: 0 0 0px 3px #23293598;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.anime_card_gallary .anime_card:active {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.anime_card_gallary .anime_card .rating {
  position: absolute;
  color: #FFFFFF;
  background: #232935;
  padding: 3px 10px;
  border-radius: 7px 0px 8px 0px;
  font-weight: 500;
  font-size: 12px;
}

.anime_card_gallary .anime_card .rating span {
  color: #FFC542;
}

.anime_card_gallary .anime_card .cover {
  width: 100%;
  height: 200px;
  background-size: cover;
  border-radius: 8px 8px 0px 0px;
}

.anime_card_gallary .anime_card .title {
  padding: 15px 20px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

.anime_card_gallary .anime_card .title .type {
  color: #FFC542;
}

.sorting_panel {
  background-color: #232935;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  padding: 20px;
}

.sorting_panel .release_date .title_row, .sorting_panel .streaming_type .title_row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.45fr;
      grid-template-columns: 1fr 1.45fr;
  color: #FFFFFF;
}

.sorting_panel .release_date .selector_row, .sorting_panel .streaming_type .selector_row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 0.5fr;
      grid-template-columns: 1fr 1fr 0.5fr;
  grid-column-gap: 10px;
  margin: 10px 0px 0px 0px;
}

.sorting_panel .release_date .selector_row select, .sorting_panel .streaming_type .selector_row select {
  background: #373F53;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 0px 8px;
  -webkit-transition: background 0.2s, -webkit-box-shadow 0.2s;
  transition: background 0.2s, -webkit-box-shadow 0.2s;
  transition: background 0.2s, box-shadow 0.2s;
  transition: background 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.sorting_panel .release_date .selector_row select:hover, .sorting_panel .streaming_type .selector_row select:hover {
  background: #373f535e;
}

.sorting_panel .release_date .selector_row select:focus, .sorting_panel .streaming_type .selector_row select:focus {
  -webkit-box-shadow: 0 0 0px 3px #2d354460;
          box-shadow: 0 0 0px 3px #2d354460;
}

.sorting_panel .release_date .selector_row button, .sorting_panel .streaming_type .selector_row button {
  background: #8401FF;
  color: #E2E2E2;
  border: none;
  border-radius: 8px;
  -webkit-transition: background 0.2s, -webkit-box-shadow 0.2s;
  transition: background 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, background 0.2s;
  transition: box-shadow 0.2s, background 0.2s, -webkit-box-shadow 0.2s;
  padding: 10px 20px;
  outline: none;
}

.sorting_panel .release_date .selector_row button:hover, .sorting_panel .streaming_type .selector_row button:hover {
  background: #6e00d4;
  color: #E2E2E2;
}

.sorting_panel .release_date .selector_row button:active, .sorting_panel .streaming_type .selector_row button:active {
  background: #6e00d4;
  -webkit-box-shadow: 0 0 0px 3px #6d00d427;
          box-shadow: 0 0 0px 3px #6d00d427;
}

.sorting_panel .release_date .selector_row button:focus, .sorting_panel .streaming_type .selector_row button:focus {
  color: #E2E2E2;
}

.sorting_panel .release_date .selector_row button:visited, .sorting_panel .streaming_type .selector_row button:visited {
  color: #E2E2E2;
}

.sorting_panel .genre {
  margin: 0px 0px 60px 0px;
}

.sorting_panel .genre .title {
  font-size: 24px;
  text-align: center;
  padding: 30px 0px;
  font-weight: 600;
}

.sorting_panel .genre .option_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}
/*# sourceMappingURL=app.css.map */