$white                    : #FFFFFF;
$purple                   : #8401FF;
$purple_dark              : #6e00d4;
$shaded_white             : #E2E2E2;
$light_grey               : #96A7AF;
$grey                     : #373F53;
$grey_opacity             : #373f535e;
$mild_dark_purple         : #232935; 
$mild_dark_purple_opacity : #2329355b; 
$dark_purple              : #171D2A;
