@mixin default-btn-styling {
    background: $purple;
    color: $shaded_white;
    border: none;
    border-radius: 8px;
    transition: box-shadow 0.2s, background 0.2s;
    padding: 10px 20px;
    outline: none;

    &:hover {
        background: $purple_dark;
        color: $shaded_white;
    }

    &:active {
        background: $purple_dark;
        box-shadow: 0 0 0px 3px $purple_dark_opacity;
    }

    &:focus {
        color: $shaded_white;
    }

    &:visited {
        color: $shaded_white;
    }
}