.btn {
    background: $mild_dark_purple;
    color: $shaded_white;
    border: none;
    border-radius: 8px;
    transition: box-shadow 0.2s, background 0.2s;
    padding: 10px 20px;
}

.btn .active {
    background: $purple;
}

.btn:active {
    background: $purple_dark;
    box-shadow: 0 0 0px 3px $purple_dark_opacity;
}
.btn:hover {
    color: $shaded_white;
}
.btn:visited {
    color: $shaded_white;
}
.btn:focus {
    color: $shaded_white;
}