.header {
    display: flex;
    height: 80px;
    align-items: center;
    padding: 10px;

    .logo {
        margin-right: 20px;
    }

    .search_bar {
        height: 50px;
        flex: 1;
        display: flex;

        .search_input {
            background: $mild_dark_purple;
            border: none;
            width: 400px;
            border-radius: 12px;
            margin: 0px 10px;
            transition: box-shadow 0.1s;
            padding: 0px 20px;
            color: $shaded_white;
        }

        .search_input:focus {
            box-shadow: 0 0 0px 3px $mild_dark_purple_opacity;
        }

        .search_btn {
            background: $purple;
            color: $white;
            border: none;
            padding: 0px 20px;
            border-radius: 12px;
        }

        .search_btn:active {
            background: $purple_dark;
        }
    }

    .profile_btn {
        background: transparent;
        border: none;
        color: #fff;
        padding: 15px 17px;
        border-radius: 50%;
        transition: background 0.1s;
    }
    .profile_btn:active {
        background: $grey_opacity;
    }
}