.search_bar {
    height: 50px;
    flex: 1;
    display: flex;

    .search_input {
        background: $mild_dark_purple;
        border: none;
        width: 400px;
        border-radius: 12px;
        margin: 0px 10px;
        transition: box-shadow 0.2s;
        padding: 0px 20px;
        color: $shaded_white;
        text-transform: capitalize;
    }

    .search_input:focus {
        box-shadow: 0 0 0px 3px $mild_dark_purple_mild_opacity;
    }

    .search_btn {
        background: $purple;
        color: $white;
        border: none;
        padding: 0px 20px;
        border-radius: 12px;
        transition: box-shadow 0.2s, background 0.2s;
    }

    .search_btn:active {
        background: $purple_dark;
        box-shadow: 0 0 0px 3px $purple_dark_opacity;
    }
}