.slidebar {
    background-size: cover;
    border-radius: 12px;
    display: flex;
    position: relative;
    color: $light_grey;
    width: 100%;
    min-height: 210px;
    overflow: hidden;

    .filter_layer {
        position: absolute;
        background: $mild_dark_purple_opacity;
        height: 100%;
        width: 100%;
        z-index: -1;
        border-radius: 12px;
    }

    .background {
        background: url(https://cachecow.eu/min/mal/1928/117620.jpg) center center;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -2;
        background-size: cover;
        border-radius: 50px;
        filter: blur(30px);
        opacity: 0.4;
    }

    .cover {
        width: 400px;
        background: url(https://cachecow.eu/min/mal/1928/117620.jpg) center center;
        background-size: cover;
        border-radius: 12px 0px 0px 12px;
    }
    
    .info {
        padding: 25px 30px 25px 30px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 12px;

        .heading {
            font-size: 24px;
            font-weight: 600;
        }

        .description {
            padding: 10px 0px;
            flex: 1;
        }
    
        .change_btn {
            display: flex;
            justify-content: flex-end;
            font-size: 15px;
            cursor: pointer;
            
            span:hover{
                color: $shaded_white;
            }
        }
    }
}