.sorting_panel {
    background-color: $mild_dark_purple;
    color: $white;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 20px;

    .release_date, .streaming_type {
        
        .title_row {
            display: grid;
            grid-template-columns: 1fr 1.45fr; 
            color: $white;
            
        }

        .selector_row {
            display: grid;
            grid-template-columns: 1fr 1fr 0.5fr;
            grid-column-gap: 10px; 
            margin: 10px 0px 0px 0px;       

            select {
                background: $grey;
                border: none;
                box-sizing: border-box;
                border-radius: 8px;
                padding: 0px 8px;
                transition: background 0.2s, box-shadow 0.2s;

                &:hover {
                    background: $grey_opacity;
                }
                
                &:focus {
                   box-shadow: 0 0 0px 3px #2d354460;
                }
            }

            button {
                @include default-btn-styling;
            }
        }
    }

    .genre {
        margin: 0px 0px 60px 0px;
        .title {
            font-size: 24px;
            text-align: center;
            padding: 30px 0px;
            font-weight: 600;
        }

        .option_grid {
            display: grid;
            grid-template-columns: auto auto;

            .option {

                .container {
                    display: block;
                    position: relative;
                    padding-left: 30px;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    font-weight: 400;  
                    
                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 20px;
                        width: 20px;
                        // background-color: #eee;
                        border: solid thin $grey;
                        transition: background 0.2s;

                        &::after {
                            content: "";
                            position: absolute;
                            // display: none;
                            left: 7px;
                            top: 3px;
                            width: 5px;
                            height: 10px;
                            border: solid $grey;
                            opacity: 0;
                            border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                            transition: opacity 0.2s;
                        }
                    }

                    &:hover input ~ .checkmark {        
                        &::after {
                            opacity: 0.7;
                        }
                    }

                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;

                        &:checked {
                            & ~ .checkmark {
                                background-color: $purple;
                            }

                            & ~ .checkmark:after {
                                border: solid $white;
                                opacity: 1;
                                border-width: 0 3px 3px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}